logTag=LOG_TAG
logRootFolder=.\log\
//1 console, 2 system debugger, 4 file, use or to combine, for example, 3 means output to console and system debugger
logOutputMode=6
//0 error, 1 warrning, 2 info, 3 debug , 4 verbose, larger means more log detail
logLevel=4

//log mask, control different module in each log level, 0 means not output, 18446744073709551615 means all module
//reference the module define in code
logErrorMask=18446744073709551615
logWarningMask=18446744073709551615
logInfoMask=18446744073709551615
logDebugMask=18446744073709551615
logVerboseMask=18446744073709551615

//0 perday, 1 perlevel, 2 per module, 3 perfixed size
logWriterType=0
//if use perfixed size to write, then use the logPerFixSize to control the file size, (unit is MB)
logPerFixSize=100
